* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

/* Navbar */

nav {
  height: 60px;
  background-color: rgba(42, 42, 42, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  height: 35px;
  margin-left: 20px;
}
nav .booking_options {
  display: flex;
  width: 140px;
  justify-content: space-evenly;
}
nav .icons {
  margin-right: 20px;
}
nav .icons .style {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 5px;
}
nav .icons .facebook {
  background: url("/assets/facebook.svg") no-repeat center white;
  background-size: cover;
}
nav .icons .instagram {
  background: url("/assets/instagram.svg") no-repeat center white;
  background-size: cover;
}
nav .icons .instagram:hover {
  background-image: url("/assets/instagram_hover.svg");
}
nav .icons .facebook:hover {
  background-image: url("/assets/facebook_hover.svg");
}
nav .icons .bar_menu {
  background: url("/assets/bar-menu.svg") no-repeat center;
  height: 20px;
  width: 20px;
  border: none;
  background-size: contain;
}

/* Main */

.top_banner {
  position: relative;
  background-color: rgba(42, 42, 42, 255);
}
.top_banner header {
  position: absolute;
  width: 240px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 1px 1px black;
}
.top_banner header h1 {
  height: 95px;
}
.top_banner header h4 {
  font-size: 10px;
  text-align: center;
  position: relative;
}
.top_banner header h4 .right {
  position: absolute;
  left: -3%;
  bottom: 23%;
}
.top_banner header h4 .left {
  position: absolute;
  right: -3%;
  bottom: 23%;
}
.top_banner header .dots {
  display: flex;
  width: 60px;
  justify-content: space-evenly;
  position: absolute;
  left: 38%;
  top: 192%;
}
.top_banner header .dots .style {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
.top_banner header .dots .state_1 {
  background-color: white;
}
.top_banner header .arrow img {
  position: absolute;
  top: 240%;
  height: 10px;
  filter: brightness(1);
  width: 20px;
  left: 47%;
}
.top_banner header .arrow img:hover {
  filter: brightness(1.2);
}
.top_banner picture img {
  height: 470px;
  width: 100%;
  filter: brightness(70%);
}

/* Section */

.about_us {
  min-height: 560px;
  position: relative;
  background-color: rgba(42, 42, 42, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.about_us #R_graphic {
  position: absolute;
  right: 55%;
}
.about_us #R_graphic img {
  height: 500px;
  filter: brightness(1.5);
}
.about_us figure {
  max-width: 390px;
  position: relative;
}
.about_us figure img {
  height: 390px;
  width: 100%;
}
.about_us article {
  max-width: 390px;
}
.about_us article h1 {
  color: rgba(150, 127, 93, 255);
  height: 60px;
  font-size: 2rem;
}

/* Media Query */

@media (max-width: 480px) {
  /* Navbar */
  nav .booking_options,
  nav .icons .facebook,
  nav .icons .instagram {
    display: none;
  }

  /* Main */
  .top_banner header .dots {
    left: 39%;
  }
  .top_banner header .arrow img {
    top: 228%;
    left: 46%;
    width: 27px;
    height: 24px;
  }

  /* Section */
  .about_us {
    flex-direction: column-reverse;
  }
  .about_us figure {
    margin-top: 15px;
  }
  .about_us figure img {
    height: 260px;
    width: 100%;
  }
  .about_us article {
    max-width: 300px;
  }
  .about_us article br + p {
    margin-top: 10px;
  }
  .about_us article p {
    font-size: 10px;
  }
  .about_us article br {
    display: none;
  }
  .about_us #R_graphic {
    right: 15%;
    top: 38%;
  }
  .about_us #R_graphic img {
    height: 325px;
  }
}

@media (max-width: 768px) {
  /* Section */
  .about_us {
    flex-direction: column-reverse;
  }
  .about_us article {
    margin-bottom: 35px;
  }
  .about_us figure {
    margin-top: 35px;
  }
  .about_us #R_graphic {
    right: 28%;
    top: 35%;
  }
}
